* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --gray-800: #203741;
    --gray-600: #555453;
    --gray-400:#94A3B8;
    --gray-200: #e2e8f0;
    --light-purple:#389DD0;
    --purple: #365B6D;
    --white: #F2F1EC;
    --bg-desktop: url(../imagem.ranking/desktop_img.jpg);
}


 body {
    height: 100svh;
    background-image: url(../imagem.ranking/desktop_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 header{
    background-color: var(--gray-200);
    padding: 0rem;

 }

 nav { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > a{
    margin: 1rem;
}

a > img{
    height: 4rem;
    width: 100%;
}

nav div a {
    margin: 1rem;

    padding-inline: 2rem;
    padding-block: 0.25rem;
    text-decoration: none;
    border-radius: 2rem;
    background: var(--gray-800);
    color: var(--white);
}

h1 {
    font-size: 4rem;
    padding: 5rem;
    color: var(--gray-200);
}


h2 {
    font-size: 2rem;
    padding-left: 3rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.ranking {
    display: flex;
    flex-direction: column;
    text-align: center;

}

li {
    display: flex;
    justify-content: space-between;  /* Espaça os itens de forma equilibrada */
    padding: 0.625rem;
    border-bottom: 1px solid #ddd;  /* Adiciona uma linha de separação */
    background-color: white;
    margin-right:2.5rem;
    
}

