*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Didact Gothic", sans-serif;
}

:root{
    --white:#FFFFFF;
    --almost-white: #F2F1EC;
    --blue-darker: #2B4451;
    --blue-darker-active: #182931;
    --green-darker: #27332F;
}

body{
    height: 100vh;
    max-width: max-content;
    margin-inline: auto;
    background-color: var(--almost-white);
}

nav { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > a{
    margin: 1rem;
}

a > img{
    height: 4rem;
    width: 100%;
}

nav div a {
    margin: 1rem;

    padding-inline: 2rem;
    padding-block: 0.25rem;
    text-decoration: none;
    border-radius: 2rem;
    background: var(--blue-darker);
    color: var(--white);
}

header h1 {
    color: var(--green-darker);
    text-align: left;
    font-family: "Cardo", serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 5rem;
    padding-left: 5.5rem;
}

main{
    padding: 7rem;
}

main h2{
    color:var(--blue-darker-active)
}

section{
    padding: 5rem;
}

img{
    width: 10rem;
    text-align: center;
}

.hist1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.hist2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2.5rem;
}